html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden
}

#searchBar{
    margin: 30px;
}
#inputStr{
    font-size: xx-large;
}

#map{
    height: 700px;
    margin-top: 50px;
    width: 100%;
    position: fixed; /*must work with the background setting*/
    background: none; /*important for map*/
}